<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

  <h1>Tickets</h1>

  <table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Price</th>
    <th>Event</th>
      </tr>
    </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.description %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.event.name %></td>
<!--        <td><%#= link_to 'Show', ticket %></td>-->
        <% if can? :manage, @ticket %>
          <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Buy', new_user_ticket_path(ticket) %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>
  <% if can? :manage, @ticket %>
    <%= link_to 'New Ticket', new_ticket_path %>
  <% end %>
<% else %>
  <b>Error! </b>You don't have permissions to see the tickets. Please
  <a href="../sign_in">sign in</a> or <a href="../users/sign_up">sign up</a>
<% end %>