<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <h1>Places</h1>

  <table>
    <thead>
      <tr>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= link_to 'Show', place %></td>
          <% if can? :manage, @place %>
            <td><%= link_to 'Edit', edit_place_path(place) %></td>
            <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if can? :manage, @place %>
    <%= link_to 'New Place', new_place_path %>
  <% end %>
<% else %>
  <b>Error! </b>You don't have permissions to see the places. Please
  <a href="../sign_in">sign in</a> or <a href="../users/sign_up">sign up</a>
<% end %>
